[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
isodate = "*"
requests = "*"
Flask-SocketIO = "*"
Flask-Cors = "*"
eventlet = "*"

[requires]
python_version = "3.5"

[dev-packages]
pylint = "*"
